
#logo-login{
    position: absolutes;
    margin-left: 3%;
}

#inicial{
    font-size: 1.5vh;
    position: absolute;
    margin-top: 0%;
    white-space: nowrap;
    display: inline-block;
    display: flex;
    margin-top: 0%;
    margin-left: 3%;
}
h2{
    color:#009D51;
    font-family: 'Roboto';
    margin-left: 3%;
}
#btn-2{
    color:rgba(128, 144, 121, 1);
}

#seta{
    color:rgba(128, 144, 121, 1);
}

#btn-1:hover{
    color: rgba(128, 144, 121, 1);
}

hr {
    border: none;
    border-top: 2px solid #ccc;
    margin: 3% 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }

  #barra{
    width: 98%;
    top: 15%;
    position: absolute;
  }

  #layout1{
    width: 55%;
    top: 24%;
    position: absolute;
  }

  #layout2{
    width: 55%;
    top: 58.5%;
    position: absolute;

  }

  #layout3{
    width: 40%;
    top: 24%;
    position: absolute;
    margin-left: 56%;
  }

  #btn-send{
    position:relative;
    margin-top: 60%;
    margin-left: 40%;
    margin-bottom: 5%;
  }

  #btn-input-cancelar{
    background-color: #009D51;
    height: 100vh;
    border-radius: 10px;
    font-family: 'Roboto';
    color:white;
    padding: 10px 20px;
    text-decoration: none;
  }
  #btn-input-salvar{
    background-color: #009D51;
    height: 6vh;
    width: 7.5vw;
    border-radius: 10px;
    font-family: 'Roboto';
    color:white;
    padding: 10px 20px;
    text-decoration: none;
  }

  #btn-input-gerar{
    background-color: #009D51;
    height: 6vh;
    width: 8.5vw;
    border-radius: 10px;
    font-family: 'Roboto';
    color:white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none;
}
  #btn-input-cancelar:hover{
    background-color: #C7C7C7;
  }
  #btn-input-salvar:hover{
    background-color: #C7C7C7;
  }
  #btn-input-gerar:hover{
    background-color: #C7C7C7;
  }